.titleColor {
    text-align:center;
    color:aliceblue; 
    background-color:black;
    border-bottom: solid 7px yellowgreen;

}

/* タイトルのCSS */
h2 {
    text-align:center;
    padding: 1rem 3rem;
    color: #fff;
    /* border-radius: 100vh; */
    background-image: -webkit-linear-gradient(right, #c5d0bb 0%, #262a29 100%);
    background-image: linear-gradient(to left, #4b4f48 0%, #c1d8d3 100%);
  }
  
    h3 {
    font-size:3em;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: transparent;
	background : rgba(0,0,0,1);
	text-shadow : 
		0 0 0.1em rgba(255,255,255,0.05),
		0.01em 0.04em 0.03em rgba(255,255,255,0.4);
	-webkit-background-clip : text;

}

  
.lavelColor{
    text-align:center;
    font-size: large;
    color:rgb(3, 3, 3);
    border: solid 3px rgb(26, 27, 26);/*線色*/
    padding: 0.1em;/*文字周りの余白*/
    /* border-radius: 0.5em;角丸 */
    width: auto;
}

.text1{
    text-align: left;
    width: 10em;
}

.sukima{
    margin: 0.1em;
}

.bg_test-text {
    border:  solid 3px;                             /* 枠線指定 */
    display:  inherit;                         /* インラインブロックにする */
    padding: 10px 20px;                             /* 余白指定 */
    background-color: rgba(222, 235, 223, 0.877);     /* 背景色指定 */
}

.bg_test {
    height: auto;
    text-align:  center;    /* 文字中央寄せ */
    padding:  10%;        /* 余白指定 */
    /* margin: 2%; */
    border: solid 0px;      /* 枠線指定 */
    background-color:rgb(255, 255, 255);/*背景色指定*/
    background-image: url("../ryouri.jpg");    /* 背景画像指定 */
    /* background-position: 50%  50%; */
    background-repeat: repeat; /* 背景画像の繰り返しを解除 */
    background-size: contain;
    /* border-radius: 10%;角丸 */
}

.list {
    text-align: center;
    color: rgb(11, 22, 2);
}

.user_register{
    
    text-align: center;
    font-size: large;
    background-color: rgb(39, 41, 39);
}

.a{
   color:aliceblue;
}

.header-logo{
    height:60px;
    margin-top:auto;
}

.detail-list hr {
    /* margin-left: 40px; */
    margin-bottom: 20px;
    color: green;
}

.detail-list {
    display: flex;
}

.detail-list table {
    width: auto;
    table-layout: fixed;
    margin-top: 30px;
}

.detail-list li {
    list-style: none;
    font-size: 1.5em;
    /* border-bottom: solid 0.5px gray; */
    margin: 8px 0px 15px 40px;
}

.detail-list li.title {
    font-size: 4em;
}

.detail-list li.introduction{
    margin-top: 25px;
    /* color: green; */
}

.detail-list td {
    height: 350px;
}

.detail-list td.image {
    width: 550px;
    text-align: center;
}

.detail-list td.introduction {
    vertical-align: top;
    word-wrap: break-word;
}

.detail-list img {
    height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: top;
    /* border-radius: 0.25rem; */
}

.search-form {
    float: right;
    margin: 15px 0px 0px;
}

.list-form {
    clear: both;
}

.all-list {
    display: flex;
}

.all-list li {
    list-style: none;
    font-size: 1.2em;
    margin: 8px 0px 15px;
}

.all-list li.title {
    font-size: 2em;
}

.all-list td {
    height: 250px;
    padding: 19px 20px;
}

.all-list td.image {
    width: 25%;
    /* outline: solid 0.5px lightgray; */
    /* outline-offset: -20px; */
    text-align: center;
}

.all-list img {
    height: 100%;
    max-width: 100%;
    object-fit: contain;
    /* border-radius: 0.25rem; */
}

main{
    margin-top:150px
}  

/* 登録・編集画面共通 */

.error-display{
    width:70%;
    margin:auto;
    color:white;
    background-color: rgb(20, 19, 19);
    border-radius: 10px;
    margin-bottom:0px;
    margin-top:10px;
    text-decoration: none;
    list-style: none;
}

/* 商品一覧画面 */



.index-books{
    display: flex;
	flex-wrap: wrap;
	gap: 4px;
	padding: 2px;
}

.index-book-information{
    width:calc(33.3% - 4px);
    height:450px;
    align-items: center;
    display:flex;
    background-color:rgb(189, 185, 179);
    margin:auto;
    margin-bottom:20px;
    margin-top:20px;
}




.index-book-image{
    width:60%;
    height: auto;
    margin-top:10px;
    margin-bottom:10px;
}

.index-book-image img{
    width:200px;
    height:270px;
    margin:auto;
    padding-left:15px;
}

.index-book-details{
    width:100%; 
    list-style:none;
    text-align:left;
    margin-top:20px;
    margin-bottom:10px;
    margin-right:5px;
    margin-left:20px;
}

.index-book-details li p{
    height:50px;
    overflow:auto; 
    margin-bottom:2px;
}

.index-book-details li button{
    margin-top:5px;
    margin-bottom:5px;
    width: 150px;
    text-decoration:none;
    border-radius: 10px;
}

.index-book-details button a{
    text-decoration:none;
}

.pagination{
    width:100%;
    justify-content:center;
}

.imag {
    height: auto;
}