@charset "utf-8";
@media (max-width: 1000px){

    /* タイトルのCSS */
    h2 {
        font-size:1.5em;
        text-align:center;
        padding: 1rem 3rem;
        color: #fff;
        /* border-radius: 100vh; */
        background-image: -webkit-linear-gradient(right, #c5d0bb 0%, #262a29 100%);
        background-image: linear-gradient(to left, #4b4f48 0%, #c1d8d3 100%);
      }
    h3 {
        font-size:2em;
        text-align:center;
        line-height:0.95em;
        font-weight:bold;
        color: transparent;
        background : rgba(0,0,0,1);
        text-shadow : 
            0 0 0.1em rgba(255,255,255,0.05),
            0.01em 0.04em 0.03em rgba(255,255,255,0.4);
        -webkit-background-clip : text;
    
    }

    .bg_test-text {
        border:  solid 3px;                             /* 枠線指定 */
        /* display:  inline-block;                          */
        padding: 10px 20px;                             /* 余白指定 */
        background-color: rgba(222, 235, 223, 0.877);     /* 背景色指定 */
    }
    
    .bg_test {
        height: auto;
        text-align:  center;    /* 文字中央寄せ */
        padding:  10%;        /* 余白指定 */
        /* margin: 2%; */
        border: solid 0px;      /* 枠線指定 */
        background-color:rgb(255, 255, 255);/*背景色指定*/
        background-image: url("../ryouri.jpg");    /* 背景画像指定 */
        /* background-position: 50%  50%; */
        background-repeat: round; /* 背景画像の繰り返しを解除 */
        background-size: contain;
        border-radius: 0%;/*角丸*/
    }
    

    .list {
        text-align: center;
        color: rgb(11, 22, 2);
    }
    
    .user_register{
        
        text-align: center;
        font-size: large;
        background-color: rgb(39, 41, 39);
    }
    
    .a{
       color:aliceblue;
    }

    .detail-list li.title {
        font-size: 2em;
    }
    
    .detail-list li.introduction{
        margin-top: 10px;
        /* color: green; */
    }
    
    .detail-list td {
        height: 350px;
    }
    
    .detail-list td.image {
        width: 40%;
        text-align: center;
    }
    .detail-list {
        display: flex;
    }
    
    .detail-list table {
        width: auto;
        table-layout: fixed;
        margin-top: 30px;
    }
    
    .detail-list li {
        list-style: none;
        font-size: 1em;
        /* border-bottom: solid 0.5px gray; */
        margin: 8px 0px 15px 40px;
    }

}

