h1{
    font-size: 20px;
    font-family: serif;
    margin-left: 3%;
}
h2{
    font-size: 20px;
    font-family: serif;
    margin-left: 3%;
}
h3{
    font-size: 100%;
    font-family: serif;

}

ul{
    display: contents;
}
li{
    list-style-type: none;
    border: solid black 1px;
    width: 100%;
}

.list-1 {
    background: greenyellow;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-2 {
    background: lightskyblue;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-3 {
    background:  pink;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    display: block;
    font-size: 120%;
    border: none;
    text-align: center;
}

.button2{
    display: block;
    font-size: 120%;
    border: none;
    text-align: center;
 
}

.button3{
    display: block;
    font-size: 120%;
    border: none;
    text-align: center;
}

.user-btn{
    border: solid black 1px;
    background-color: #d8d8d8;
    width: 70%;
    height: 20px;
    margin: 10px;
}
.button4{
    display: block;
    color: black;
    width: 100%;
    font-size: 100%;
    border: none;
    text-align: center; 
}

.button:hover{
    color: aliceblue;
}

.button2:hover{
    color: aliceblue;
}

.button3:hover{
    color: aliceblue;
}

.button4:hover{
    color: aliceblue;
}

.main-wrapper {
    border: 1px solid;
    height: 100vh;
    display: flex;
}

.btn-wrapper {
    width: 15%;
    border: 1px solid;
}

.content-wrapper {
    width: 70%;
    background-image: url(../img/Home/background-imge.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /* background-image: url(../img/background-image.jpg); */
}

.user-wrapper {
    width: 15%;
}