.container{
    max-width: 850px;
}

h1{
    margin: 30px 0px;
}

.all-list {
    display: flex;
}

.all-list .image {
    height: 250px;
    padding: 0.25rem;
    background-color: #fff;
    /* border-radius: 0.25rem; */
    max-width: 100%;
    margin: auto 0;
    display: table-cell;
    vertical-align: middle;
}

.all-list img {width: 100%;border-radius: 0.25rem;}
