.container {
    max-width: 850px;
}
hr {
    margin-bottom: 0px;
}

h1 {
    margin: 30px 0px;
}

.all-list {
    display: flex;
}

.all-list li {
    list-style: none;
}

.all-list td {
    height: 250px;
    padding: 19px 20px;
}

.all-list td.image {
    width: 30%;
    outline: solid 0.5px lightgray;
    outline-offset: -20px;
}

.all-list img {
    height: 100%;
    max-width: 100%;
    object-fit: contain;
    border-radius: 0.25rem;
}
